@import url(./reset.scss);
@import url(./variables/global.scss);
@import url(./themes/normal.scss);
@import url(./themes/dark.scss);

.app {
  padding: 25px;
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}