.sidebar {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: width .3;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapsedBtn {
  color: var(--inverted-secondary-color);
}


.switchers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.languageSwitcher {
  color: var(--inverted-secondary-color);
}