.navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: var(--navbar-height);
  padding: 10px 20px;
  background-color: var(--inverted-bg-color);
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
}
