.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: var(--navbar-height);
  box-sizing: border-box;
  background-color: var(--inverted-bg-color);
}

.list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px
}